table {
  border-collapse: separate;
  border-spacing: 0;
  width: 500px;
  text-align: center;
}
th,
td {
  padding: 10px 15px;
}
thead {
  background: #395870;
  color: #fff;
}
th {
  font-weight: bold;
}
tbody tr:nth-child(odd) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
aside {
  border: 1px solid #cecfd5;
  background: #648880;
  background: linear-gradient(to right, #f0f0f2, #cecfd5, #395870);
  }
textarea{
  font-family: monospace;
}
